<?xml version="1.0"?>
<launch>
    <arg name="package" value="uoe"/>
    <arg name="package_path" value="$(find uoe)"/>

    <include file="$(arg package_path)/launch/airsim_convert_depth_image_to_pointcloud2.launch"/>
    <include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch"/>
    <include file="$(arg package_path)/launch/rviz.launch"/>
    <!-- <include file="$(arg package_path)/launch/octomap_server.launch"/> -->
</launch>