<?xml version="1.0"?>
<launch>
	<arg name="package" value="uoe"/>
	<arg name="package_path" value="$(find uoe)"/>
	<arg name="node_name" value="object_map_completeness"/>

	<rosparam command="load" file="$(arg package_path)/rosparam/prescanned_object_map_completeness.yaml"/>

	<node pkg="$(arg package)" type="$(arg node_name)" name="$(arg node_name)"/>
</launch>
