<?xml version="1.0"?>
<launch>
    <arg name="package" value="uoe"/>
    <arg name="package_path" value="$(find uoe)"/>

    <include file="$(arg package_path)/launch/airsim_vis.launch" />
    <include file="$(arg package_path)/launch/rrt_service.launch" />
    <include file="$(arg package_path)/launch/segmentation.launch" />
</launch>