<?xml version="1.0"?>
<launch>
    <arg name="package" value="uoe" />
    <arg name="package_path" value="$(find uoe)" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg package_path)/rviz/spline.rviz" />
    <node pkg="$(arg package)" type="spline_tester" name="spline_tester" output="screen" />
</launch>