<?xml version="1.0"?>
<launch>
    <arg name="package" value="mdi"/>
    <arg name="package_path" value="$(find mdi)"/>

    <include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch"/>
    <include file="$(arg package_path)/launch/rviz.launch"/>
    <!-- <include file="$(arg package_path)/launch/octomap_server.launch"/> -->
</launch>