<?xml version="1.0"?>
<launch>
    <arg name="package" value="mdi"/>
    <arg name="package_path" value="$(find mdi)"/>
    <arg name="ws_path" default="$(optenv SOURCED_WS ~/catkin_ws)"/>
    <arg name="px4_path" default="$(arg ws_path)/PX4-Autopilot"/>

    <!-- <node pkg="$(arg package)" type="run_airsim.sh" name="run_airsim"/> -->
    <!-- <node
        pkg="$(arg package)"
        type="make_px4_airsim.sh"
        name="make_px4_airsim"
        args="$(arg px4_path) $(arg package)"/> -->

    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" default="udp://:14550@127.0.0.1:14557"/>
    </include>
</launch>