<?xml version="1.0"?>
<launch>
	<arg name="name" default="voxel_map"/>
	<arg name="node" default="octomap_server"/>
	<arg name="package" default="mdi"/>
	<arg name="map_resolution" default="0.5"/>
	<arg name="frame_id" default="world_enu"/>
	<arg name="pointcloud_topic" default="/camera/depth/points"/>
	<!-- <arg name="bt_file" value="$(dirname)/../data/simple_tree.bt"/> -->

	<node pkg="octomap_server" type="octomap_server_node" name="$(arg name)" ns="$(arg name)" output="log">
		<param name="resolution" value="$(arg map_resolution)"/>
		<param name="frame_id" type="string" value="$(arg frame_id)"/>
		<param name="sensor_model/hit" value="0.7"/>
		<param name="sensor_model/miss" value="0.4"/>
		<param name="sensor_model/max_range" value="15.0"/>
		<param name="filter_ground" value="false"/>
		<param name="latch" value="false"/>
		<!-- <param name="occupancy_min_z" value="-10.0"/>
		<param name="occupancy_max_z" value="10.0"/>
		<param name="pointcloud_min_z" value="-10.0"/>
		<param name="pointcloud_max_z" value="10.0"/> -->
		<remap from="/$(arg name)/cloud_in" to="$(arg pointcloud_topic)"/>
	</node>
</launch>
