<?xml version="1.0"?>
<launch>
    <arg name="package" value="mdi"/>
    <arg name="package_path" value="$(find mdi)"/>
    <!-- Controller Arguments -->
    <arg name="krp" default="0.5"/>
    <arg name="kri" default="0"/>
    <arg name="krd" default="0"/>
    <arg name="kap" default="0.5"/>
    <arg name="kai" default="0"/>
    <arg name="kad" default="0"/>
    <arg name="vel" default="0"/>

    <!-- <arg name="lp" default="valgrind"/> -->
    <arg name="lp" default=""/>

	<rosparam command="load" file="$(dirname)/../rosparam/rrt.yaml"/>

    <include file="$(arg package_path)/launch/rrt_service.launch" />

    <node
        pkg="$(arg package)"
        type="mission_manager"
        name="mission_manager"
        args="$(arg vel)"
        output="screen"
        launch-prefix="$(arg lp)" />
    <node
        pkg="$(arg package)"
        type="pid_controller"
        name="pid_controller"
        args="$(arg krp) $(arg kri) $(arg krd) $(arg kap) $(arg kai) $(arg kad)" />
    <node
        pkg="$(arg package)"
        type="publish_traversed_path"
        name="publish_traversed_path" />
</launch>